# =====================
# Python
# =====================

__pycache__/
*.pyc
*.pyo
*.pyd


# =====================
# Virtual Environment
# =====================

venv/
.venv/
env/


# =====================
# Environment Variables
# =====================

.env


# =====================
# Database
# =====================

*.db
*.sqlite
*.sqlite3

# SQLite runtime files
*.db-shm
*.db-wal


# =====================
# Logs
# =====================

*.log
logs/


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# Cache
# =====================

.cache/
*.tmp


# =====================
# OS
# =====================

Thumbs.db
.DS_Store